.container{
    width: 100%;
    height: 100%;
   }

.card{
    width: 100%;
    height: 100%;
    background-color: #BFD7ED;
    border-radius: 10px;
   }

.card-header{
    background-color: #0090f0;
    font-family:'Sairah', cursive;
    font-size: 30px;
   }


h6{
    font-family:'Sairah', cursive;
    font-size: 20px;
    font-weight: bold;
}

.input-group{
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: flex-end;
    display: flex;
    
}