.header {
    background-color: #BFD7ED;
    padding: 30px;
    text-align: center;
    font-family:'Sairah', cursive;
}

.logo{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: -150px;
    margin-bottom: -150px;
}

.dashboard{
    display: inline-block;
    width: 60%;
    height: 50%;
    
    margin-bottom: 70px;
}

.card{
   background-color: rgba(0, 165, 241, 0.7);
    color: white;
    border-radius: 10px;
}





