.header {
    background-color: #BFD7ED;
    padding: 30px;
    text-align: center;
    font-family:'Sairah', cursive;
}

.logo{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: -150px;
    margin-bottom: -150px;
}

.dashboard{
    display: inline-block;
    width: 60%;
    height: 50%;
    padding: 28px;
    margin-bottom: 70px;
}




