.header{
    background-color: #BFD7ED;
    padding: 47px;
    text-align: center;
    font-family:'Sairah', cursive;
}

.logo{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: -150px;
    margin-bottom: -150px;
}

.card-header{
    background-color: #0f8fe4;
    font-family:'Sairah', cursive;
    font-size: 25px;
    font-weight: bold;
}





