.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn1{
    background-color: rgb(240, 240, 240);
    font-size: large;
}

.btn2{
    background-color: rgb(240, 240, 240);
    font-size: large;
    
    width: 7%;
}

.filter{
    display: flex;
    justify-content:flex-end;
}

.card{
   background-color: rgba(6, 79, 214, 0.7);
   color: white;
}

h6{
   
    font-size: 20px;
    font-weight: bold;
}




